#map{
    height:500px;
}

#main_container {
    margin-right:50px;
    margin-left:50px;
    margin-top:25px;
    margin-bottom:25px;
}

#filter-div{
    width:auto;
    min-height: 50px;
}

#filter-label {
    padding-top:10px;
    margin-right:10px;
}

.leaflet-popup-content-wrapper {
    height:175px;
    width:250px;
}